@media (max-width: 1007px) {
  img {
    max-width: 100px;
  }
  .page-title {
    font-size: 30px;
  }
  .forecast-card {
    max-width: 120px;
    width: 100%;
    height: 120px;
  }

  .forecast-card img {
    max-width: 40px;
  }

  #large {
    display: none;
  }

  #small {
    display: none;
  }

  #medium {
    display: block;
  }
}
