@media (max-width: 640px) {
  img {
    max-width: 80px;
    margin-right: 10px;
  }

  .page-title {
    font-size: 20px;
  }

  .menu {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    padding: 15px;
  }

  .forecast-card {
    max-width: 50px;
    width: 100%;
    height: 50px;
  }

  .forecast-card img {
    max-width: 15px;
  }

  .forecast-card p {
    padding: 2px 0;
    font-size: 12px;
  }

  #large {
    display: none;
  }

  #small {
    display: block;
  }

  #medium {
    display: none;
  }

  figure .weather-summary {
    left: 10px;
    top: 10px;
  }

  figure .weather-summary p.title {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
